/*
    --HEX--
    A8C69F -> GREEN
    3A405A -> DARK BLUE
    99B2DD -> LIGHT BLUE
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.title {
    color: #A8C69F;
    background-color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    align-items: center;
}

.subheader {
    color: #99B2DD;
    background-color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    align-items:center
}

.centered-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
  background-color: #A8C69F;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}