.centered-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  top: 0;
  position: sticky;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  z-index: 1;
}

ul.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
